html
  head
    title='Pluralsight Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello divine users!!!
        p Welcome to land of divine space ...
		p within everyone their is divine lake ...